.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
  }
  
  .h1, .p {
    margin-bottom: 10px;
  }
  
  .button {
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  