.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.loginBox {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    margin-bottom: 15px;
    text-align: left;
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.inputGroup input {
    width: 92.5%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.loginButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0070f3;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginButton:hover {
    background-color: #005bb5;
}

.links {
    margin-top: 20px;
}

.link {
    color: #0070f3;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.link:hover {
    text-decoration: underline;
}