.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.job {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
}

.edit, .delete {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.delete {
    background-color: red;
}

.a {
    color: white;
    text-decoration: none;
}
